h1{
   text-align   : center;
   background-color:rgb(100,148,79);
   font-size: 40px;
   /* background-repeat: repeat;
   background-size:cover;
   background-position:center;
   height:auto;
            min-height:90.5vh; */
            color:white;
            font-family: cursive;  
            border-radius: 25px; 
}
.bt{
    font-size: 15px;    
    background-color: rgb(100,148,79);
    color:white;
}

.in{
    font-size: 15px;
}

.ss{
    text-align: center;
    color:rgb(175,203,145);
    /* background-color: white; */
    font-weight:bold;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}