h1{
   text-align   : center;
   background-color:rgb(100,148,79);
   font-size: 40px;
   /* background-repeat: repeat;
   background-size:cover;
   background-position:center;
   height:auto;
            min-height:90.5vh; */
            color:white;
            font-family: cursive;   
}
.ss{
    text-align: center;
    color:white;
    /* background-color: white; */
    font-weight:bold;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}